:root {
  /* light color */
  --light-color-primary: 47 62 254;
  --light-color-on-primary: 255 255 255;
  --light-color-primary-container: 224 224 255;
  --light-color-on-primary-container: 0 5 105;

  --light-color-secondary: 92 93 114;
  --light-color-on-secondary: 255 255 255;
  --light-color-secondary-container: 225 224 249;
  --light-color-on-secondary-container: 25 26 44;

  --light-color-tertiary: rgb(120 83 107);
  --light-color-on-tertiary: rgb(255 255 255);
  --light-color-tertiary-container: rgb(255 215 238);
  --light-color-on-tertiary-container: rgb(46 17 38);

  --light-color-error: 186 26 26;
  --light-color-on-error: 255 255 255;
  --light-color-error-container: rgb(255 218 214);
  --light-color-on-error-container: rgb(65 0 2);

  --light-color-background: 255 251 255;
  --light-color-on-background: 27 27 31;

  --light-color-surface: 227 225 236;
  --light-color-on-surface: 70 70 79;

  --light-color-outline: 119 118 128;
  /* dark color */
  --dark-color-primary: 190 194 255;
  --dark-color-on-primary: 0 12 166;
  --dark-color-primary-container: 0 20 230;
  --dark-color-on-primary-container: 224 224 255;

  --dark-color-secondary: 197 196 221;
  --dark-color-on-secondary: 46 47 66;
  --dark-color-secondary-container: 68 69 89;
  --dark-color-on-secondary-container: 225 224 249;

  --dark-color-tertiary: rgb(231 185 213);
  --dark-color-on-tertiary: rgb(69 38 60);
  --dark-color-tertiary-container: rgb(94 60 83);
  --dark-color-on-tertiary-container: rgb(255 215 238);

  --dark-color-error: 255 180 171;
  --dark-color-on-error: 105 0 5;
  --dark-color-error-container: rgb(147 0 10);
  --dark-color-on-error-container: rgb(255 218 214);

  --dark-color-background: 27 27 31;
  --dark-color-on-background: 229 225 230;

  --dark-color-surface: 70 70 79;
  --dark-color-on-surface: 199 197 208;

  --dark-color-outline: 145 144 154;
}
