* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div,
p {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  scrollbar-width: none;
  /* scroll-behavior: smooth; */
}

:root {
  --rem: 4;
  font-size: calc(var(--rem) * 1px);
  --max-font-size: 15rem;
  --middle-font-size: 7.5rem;
  --normal-font-size: 4.5rem;
  --small-font-size: 12px;
  --radius: 12rem;
  --spacing: 4rem;
  .dark {
    --bg-color: 19 19 24;
    --font-color: 196 199 197;
    --card-bg-color: 33 33 33;
    &.amoled {
      --bg-color: 0 0 0;
    }
  }
}

:root .light,
body.auto {
  --bg-color: 238 238 238;
  --font-color: 51 51 51;
  --card-bg-color: 246 246 246;
}

body {
  &.auto {
    @media (prefers-color-scheme: dark) {
      --bg-color: 19 19 24;
      --font-color: 196 199 197;
      --card-bg-color: 33 33 33;
      &.amoled {
        --bg-color: 0 0 0;
      }
    }
  }
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, Ubuntu,
    sans-serif;
  background: rgb(var(--bg-color));
  font-size: var(--normal-font-size);
  color: rgb(var(--font-color));
  font-weight: 600;
  user-select: none;
}

@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

.app {
  height: 100%;
  scrollbar-width: none;
  overflow-y: auto;
  overscroll-behavior: contain;
  /* scroll-snap-type: y proximity; */
  scroll-padding-top: 18rem;
  filter: blur(0px);
  transition: all 0.4s ease-out;
  max-width: 174rem;
  margin: 0 auto;

  .header {
    margin: 0 var(--spacing);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 135rem;
    background: linear-gradient(
      rgb(var(--bg-color)) 88%,
      rgb(var(--bg-color) / 0.7) 100%
    );
    transition: background 0.4s ease-out;
    backdrop-filter: blur(10px);

    .temp_cur {
      position: absolute;
      bottom: 8rem;
      font-size: var(--max-font-size);
    }
    .temp_secondary {
      position: absolute;
      bottom: 0;
      font-size: var(--middle-font-size);
    }
    .icon_main {
      position: absolute;
      top: 12rem;
      right: 0;
      width: 24rem;
      height: 24rem;
      cursor: pointer;
      background-size: cover;
      /* url("./assets/icons/dark/unknown.png") */
      background-image: var(--icon-url);
      filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.6));
    }
  }

  .content {
    margin: 8rem var(--spacing) 0;
    .items {
      position: relative;
      display: flex;
      gap: var(--spacing);
      justify-content: space-between;
      align-items: center;
      &:not(:first-child) {
        margin-top: var(--spacing);
        /* scroll-snap-align: start none; */
      }
      &.forecast {
        @media screen and (max-width: 480px) {
          & {
            scrollbar-width: none;
          }
        }
        font-size: var(--small-font-size);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-padding-left: 3rem;
        .list_forecast {
          display: flex;
          height: 20rem;
          flex-wrap: nowrap;
          .item_forecast {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            scroll-snap-align: start;
            padding: 0 4.5rem;
            text-align: center;
            P {
              line-height: 3rem;
            }
            img {
              pointer-events: none;
              user-select: none;
              width: 10.5rem;
            }
          }
        }
      }
    }
  }
}

.block {
  border-radius: var(--radius);
  padding: calc(var(--radius) / 3 * 2);
  line-height: 9rem;
  transition: all 0.4s ease-out;
  background-color: rgb(var(--card-bg-color));
}

.desc,
.cotton {
  flex: 1;
  text-align: center;
}

.sun_info {
  position: relative;
  --sunrisePer: calc(var(--time_sunrise) / 0.24 * 1%);
  --sunsetPer: calc(var(--time_sunset) / 0.24 * 1%);
  display: block;
  width: 100%;
  aspect-ratio: 3;
  margin-bottom: 6rem;
  border-radius: 50%/100% 100% 0 0;
  border: 1px solid rgb(var(--font-color));
  font-size: var(--small-font-size);
  background-image: linear-gradient(
    to right,
    transparent calc(var(--sunrisePer) - 2px),
    red calc(var(--sunrisePer)),
    transparent calc(var(--sunrisePer)),
    transparent calc(var(--sunsetPer) - 2px),
    #e96e50 calc(var(--sunsetPer)),
    transparent calc(var(--sunsetPer))
  );
  & :is(.time_sunrise, .time_sunset) {
    position: absolute;
    bottom: -9rem;
    transform: translateX(-50%);
  }

  .time_sunrise {
    left: calc(var(--sunrisePer));
    &::before {
      content: "日出 ";
    }
  }
  .time_sunset {
    left: calc(var(--sunsetPer));
    &::before {
      content: "日落 ";
    }
  }
}

.deg_wind {
  position: relative;
  text-align: center;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  color: rgb(var(--font-color));
  border: 1px solid rgb(var(--font-color));
  transform: scale(1.6);

  &::before {
    display: block;
    font-size: var(--small-font-size);
    content: "N";
    transform: translate(-54%, -38%) scale(0.6);
    position: absolute;
    top: 0;
    left: 4.5rem;
  }
  &::after {
    display: block;
    content: "➤";
    transform: rotate(calc(var(--deg) + 90deg)) scaleY(0.8) translateX(0.5rem);
  }
}

.light .switch-mode-btn {
  transform: rotateZ(-90deg);
}

.dark .switch-mode-btn {
  transform: rotateZ(90deg);
}

.footer {
  margin: 90rem var(--spacing) 2rem;
  line-height: 6rem;
  font-size: var(--small-font-size);
  /* text-align: center; */
  position: relative;
  .switch-mode-btn {
    position: absolute;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    bottom: 3rem;
    right: 0;
    cursor: pointer;
    background-color: rgb(var(--bg-color));
    border: 2px solid rgb(var(--font-color));
    overflow: hidden;
    transition: all 0.4s ease-out;
    &::before {
      border-radius: 100%;
      content: "";
      display: block;
      width: 200%;
      height: 200%;
      background-color: rgb(var(--font-color));
      transition: all 0.8s ease-in-out;
    }
    :where(.auto) &::before {
      border-radius: 0;
      transform: translate(-75%, -25%);
    }
    :where(.light) &::before {
      transform: translate(-76%, -25%);
    }
    :where(.dark) &::before {
      transform: translate(26%, -25%);
    }
  }
  a {
    color: #e96e50 !important;
  }
}

.loading {
  filter: blur(30px);
  overflow: hidden;
  pointer-events: none;
}

.shadow {
  border-bottom: 1px solid rgb(var(--font-color) / 0.1);
}
