* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

html,
body,
div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  overscroll-behavior: none;
  overflow-y: hidden;
}

:root {
  --rem: 4;
  font-size: calc(var(--rem) * 1px);
  --max-font-size: 15rem;
  --middle-font-size: 7.5rem;
  --normal-font-size: 4.5rem;
  --small-font-size: 12px;
  --radius: 12rem;
  --spacing: 4rem;
  --topLayer: 3;
  --midLayer: 2;
  --normalLayer: 1;
  .dark {
    --bg-color: var(--dark-color-background);
    --on-bg-color: var(--dark-color-on-background);
    --primary-color: var(--dark-color-primary);
    --on-primary-color: var(--dark-color-on-primary);
    --primary-bg-color: var(--dark-color-primary-container);
    --on-primary-bg-color: var(--dark-color-on-primary-container);
    --secondary-color: var(--dark-color-secondary);
    --on-secondary-color: var(--dark-color-on-secondary);
    --secondary-bg-color: var(--dark-color-secondary-container);
    --on-secondary-bg-color: var(--dark-color-on-secondary-container);
    --error-bg-color: var(--dark-color-error);
    --on-error-bg-color: var(--dark-color-on-error);
    --surface-color: var(--dark-color-surface);
    --on-surface-color: var(--dark-color-on-surface);
    --outline-color: var(--dark-color-outline);
    &.amoled {
      --bg-color: 0 0 0;
    }
  }
}

:root .light,
body.auto {
  --bg-color: var(--light-color-background);
  --on-bg-color: var(--light-color-on-background);
  --primary-color: var(--light-color-primary);
  --on-primary-color: var(--light-color-on-primary);
  --primary-bg-color: var(--light-color-primary-container);
  --on-primary-bg-color: var(--light-color-on-primary-container);
  --secondary-color: var(--light-color-secondary);
  --on-secondary-color: var(--light-color-on-secondary);
  --secondary-bg-color: var(--light-color-secondary-container);
  --on-secondary-bg-color: var(--light-color-on-secondary-container);
  --error-bg-color: var(--light-color-error);
  --on-error-bg-color: var(--light-color-on-error);
  --surface-color: var(--light-color-surface);
  --on-surface-color: var(--light-color-on-surface);
  --outline-color: var(--light-color-outline);
  .header {
    background-color: rgb(var(--bg-color));
  }
}

body {
  &.auto {
    /* TODO: Duplicate css code */
    @media (prefers-color-scheme: dark) {
      --bg-color: var(--dark-color-background);
      --on-bg-color: var(--dark-color-on-background);
      --primary-color: var(--dark-color-primary);
      --on-primary-color: var(--dark-color-on-primary);
      --primary-bg-color: var(--dark-color-primary-container);
      --on-primary-bg-color: var(--dark-color-on-primary-container);
      --secondary-color: var(--dark-color-secondary);
      --on-secondary-color: var(--dark-color-on-secondary);
      --secondary-bg-color: var(--dark-color-secondary-container);
      --on-secondary-bg-color: var(--dark-color-on-secondary-container);
      --error-bg-color: var(--dark-color-error);
      --on-error-bg-color: var(--dark-color-on-error);
      --surface-color: var(--dark-color-surface);
      --on-surface-color: var(--dark-color-on-surface);
      --outline-color: var(--dark-color-outline);
      &.amoled {
        --bg-color: 0 0 0;
      }
    }
  }
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  background: rgb(var(--bg-color));
  font-size: var(--normal-font-size);
  color: rgb(var(--on-bg-color));
  font-weight: 600;
  user-select: none;
  display: flex;
  flex-direction: column;
}

/* @supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
} */
.notif-box {
  display: flex;
  height: 0;
  flex-direction: column;
  transition: height 0.3s ease-out;
  &:has(.notif) {
    height: 16rem;
  }
  .notif {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--topLayer);
    transform: translateY(-20rem);
    height: 0rem;
    position: fixed;
    top: 0;
    left: 0;
    font-size: var(--normal-font-size);
    border-radius: 2rem;
    transition-property: transform, filter;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    &:first-child {
      flex: 1;
      position: sticky;
      filter: brightness(1);
    }
    &:not(:first-child) {
      height: 16rem;
      width: 100%;
      text-align: center;
    }
    &.show {
      transition-delay: 0.2s;
      transform: translateY(-2rem);
      &:not(:first-child) {
        filter: brightness(0.9);
        transform: translateY(5rem) scale(0.96);
      }
    }
    &.error {
      background-color: rgb(var(--error-bg-color));
      color: rgb(var(--on-error-bg-color));
    }
    &.success {
      background-color: rgb(var(--primary-bg-color));
      color: rgb(var(--on-primary-bg-color));
    }
    &.info {
      background-color: rgb(var(--surface-color));
      color: rgb(var(--on-surface-color));
    }
  }
}

.app {
  flex: 1;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-padding-top: 18rem;
  transition: all 0.4s ease-out;
  max-width: 174rem;
  margin: 0 auto;
}

.header {
  /* -2px to cover the lower elements more precisely */
  margin: 0 calc(var(--spacing) - 2px);
  position: sticky;
  top: 0;
  z-index: var(--normalLayer);
  height: 135rem;
  background: linear-gradient(
    rgb(var(--bg-color)) 90%,
    rgb(var(--bg-color) / 0.9) 95%,
    rgb(var(--bg-color) / 0.8) 100%
  );
  transition: background 0.4s ease-out;
  backdrop-filter: blur(10px);

  .temp_cur {
    position: absolute;
    bottom: 8rem;
    color: rgb(var(--primary-color));
    font-size: var(--max-font-size);
  }
  .temp_secondary {
    position: absolute;
    bottom: 0;
    font-size: var(--middle-font-size);
  }
  .icon_main {
    position: absolute;
    top: 12rem;
    right: 0;
    width: 24rem;
    height: 24rem;
    cursor: pointer;
    background-size: cover;
    /* url("./assets/icons/dark/unknown.png") */
    background-image: var(--icon-url);
    filter: drop-shadow(1px 2px 2px rgb(0 0 0 / 0.6));
  }
}

.content {
  margin: 8rem var(--spacing) 0;
  .items {
    position: relative;
    display: flex;
    gap: var(--spacing);
    justify-content: space-between;
    align-items: center;
    &:not(:first-child) {
      margin-top: var(--spacing);
    }
    &.forecast {
      @media screen and (max-width: 480px) {
        & {
          scrollbar-width: none;
        }
      }
      font-size: var(--small-font-size);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-padding-left: 3rem;
      .list_forecast {
        display: flex;
        height: 20rem;
        flex-wrap: nowrap;
        .item_forecast {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
          scroll-snap-align: start;
          padding: 0 4.5rem;
          text-align: center;
          P {
            line-height: 3rem;
          }
          img {
            pointer-events: none;
            user-select: none;
            width: 10.5rem;
          }
        }
      }
    }
  }
}

.block {
  border-radius: var(--radius);
  padding: calc(var(--radius) / 3 * 2);
  line-height: 9rem;
  transition: all 0.4s ease-out;
  color: rgb(var(--on-secondary-bg-color));
  background-color: rgb(var(--secondary-bg-color) / 0.3);
  &:has(.num_aqi) {
    color: rgb(var(--light-color-on-background));
  }
  &:has(.rank_1) {
    background-color: rgb(0 153 102);
  }
  &:has(.rank_2) {
    background-color: rgb(255 222 51);
  }
  &:has(.rank_3) {
    background-color: rgb(255 153 51);
  }
  &:has(.rank_4) {
    background-color: rgb(204 0 51);
  }
  &:has(.rank_5) {
    background-color: rgb(102 0 153);
  }
  &:has(.rank_6) {
    background-color: rgb(126 0 35);
  }
}

.desc,
.cotton {
  flex: 1;
  text-align: center;
}

.sun_info {
  position: relative;
  --sunrisePer: calc(var(--time_sunrise) / 0.24 * 1%);
  --sunsetPer: calc(var(--time_sunset) / 0.24 * 1%);
  display: block;
  width: 100%;
  aspect-ratio: 3;
  margin-bottom: 6rem;
  border-radius: 50%/100% 100% 0 0;
  border: 1px solid rgb(var(--on-secondary-bg-color));
  font-size: var(--small-font-size);
  background-image: linear-gradient(
    to right,
    transparent calc(var(--sunrisePer) - 2px),
    red calc(var(--sunrisePer)),
    transparent calc(var(--sunrisePer)),
    transparent calc(var(--sunsetPer) - 2px),
    #e96e50 calc(var(--sunsetPer)),
    transparent calc(var(--sunsetPer))
  );
  & :is(.time_sunrise, .time_sunset) {
    position: absolute;
    bottom: -9rem;
    transform: translateX(-50%);
  }

  .time_sunrise {
    left: calc(var(--sunrisePer));
    &::before {
      content: '日出 ';
    }
  }
  .time_sunset {
    left: calc(var(--sunsetPer));
    &::before {
      content: '日落 ';
    }
  }
}

.deg_wind {
  position: relative;
  text-align: center;
  border-radius: 100%;
  width: 9rem;
  height: 9rem;
  color: rgb(var(--on-secondary-color));
  background-color: rgb(var(--secondary-color));
  transform: scale(1.6);
  .cursor_icon {
    width: 9rem;
    height: 9rem;
    transform: rotate(calc(var(--deg) - 180deg)) scale(0.4);
  }
  &::before {
    display: block;
    font-size: var(--small-font-size);
    content: 'N';
    transform: translate(-50%, -34%) scale(0.6);
    position: absolute;
    top: 0;
    left: 4.5rem;
  }
}

.light .switch-mode-btn {
  transform: rotateZ(-90deg);
}

.dark .switch-mode-btn {
  transform: rotateZ(90deg);
}

.footer {
  margin: 90rem var(--spacing) var(--spacing);
  line-height: 6rem;
  font-size: var(--small-font-size);
  position: relative;
  .switch-mode-btn {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background-color: rgb(var(--on-primary-color));
    border: 2px solid rgb(var(--primary-color));
    overflow: hidden;
    transition: all 0.4s ease-out;
    &::before {
      border-radius: 100%;
      content: '';
      display: block;
      width: 200%;
      height: 200%;
      background-color: rgb(var(--primary-color));
      transition: all 0.8s ease-in-out;
    }
    :where(.auto) &::before {
      border-radius: 0;
      transform: translate(-75%, -25%);
    }
    :where(.light) &::before {
      transform: translate(-76%, -25%);
    }
    :where(.dark) &::before {
      transform: translate(26%, -25%);
    }
  }
  a {
    color: #e96e50 !important;
  }
}

.loading_ani {
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: var(--topLayer);
  transition: 0.2s;
  pointer-events: none;
  --ani-play-state: paused;
  &.show {
    opacity: 1;
    transform: translateY(20rem);
    --ani-play-state: running;
  }
  .bg_ani {
    --ani-delay: 0s;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid rgb(var(--primary-color));
    animation: colorChange 2.8s ease-in-out var(--ani-delay) infinite;
    animation-play-state: var(--ani-play-state);
    &::before {
      width: 8rem;
      height: 8rem;
      border-radius: 100%;
      display: block;
      content: '';
      animation-name: move, colorChange;
      animation-duration: 1.4s, 2.8s;
      animation-timing-function: ease, steps(1, start);
      animation-iteration-count: infinite;
      animation-delay: var(--ani-delay);
      animation-play-state: var(--ani-play-state);
    }
  }
}

.loading {
  filter: blur(16px) grayscale(1);
  overflow: hidden;
  pointer-events: none;
  transform: translateY(30rem);
}

.shadow {
  border-bottom: 1px solid rgb(var(--outline-color) / 0.3);
}

@keyframes colorChange {
  0%,
  100% {
    background-color: rgb(var(--primary-color));
  }
  50% {
    background-color: rgb(var(--on-primary-color));
  }
}

@keyframes move {
  0% {
    transform: translate(-120%, 0);
  }
  50% {
    transform: translate(0%, -30%) scale(0.5);
  }
  100% {
    transform: translate(120%, 0);
  }
}
